Repository microsoft/DevSkim, pull requests merged in 2020-02, with the labels that each got.

#89 Vsext pipeline
  DevSkim-DotNet/Microsoft.DevSkim.CLI.Tests/Microsoft.DevSkim.CLI.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.Tests/Microsoft.DevSkim.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Microsoft.DevSkim.VSExtension.Tests.csproj
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/Properties/AssemblyInfo.cs
  DevSkim-DotNet/Microsoft.DevSkim.VSExtension/Microsoft.DevSkim.VSExtension.csproj
  DevSkim-DotNet/Microsoft.DevSkim/Microsoft.DevSkim.csproj
  Pipelines/devskim-visualstudio.yml
Labels: pipeline

#101 Additions and Modifications for Working Builds
  DevSkim-VSCode-Plugin/.gitignore
  DevSkim-VSCode-Plugin/.vscode/launch.json
  DevSkim-VSCode-Plugin/.vscode/settings.json
  DevSkim-VSCode-Plugin/.vscode/tasks.json
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/ThirdPartyNotices.txt
  DevSkim-VSCode-Plugin/azure-pipelines.yml
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/client/src/extension.ts
  DevSkim-VSCode-Plugin/client/webpack.config.js
  DevSkim-VSCode-Plugin/gulpfile.js
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
  DevSkim-VSCode-Plugin/server/src/devskimServer.ts
  DevSkim-VSCode-Plugin/server/src/server.ts
  DevSkim-VSCode-Plugin/server/webpack.config.js
  DevSkim-VSCode-Plugin/vscode-devskim-0.2.0.vsix
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
  rules/default/security/TLS/tls_python.json
Labels: VSCode, bug, enhancement, pipeline

#109 Pipeline Updates
  Pipelines/devskim-core.yml
  Pipelines/devskim-sdl.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Labels: pipeline

#112 Update VSCode Packaging Metadata
  DevSkim-VSCode-Plugin/.vscodeignore
  DevSkim-VSCode-Plugin/client/package-lock.json
  DevSkim-VSCode-Plugin/client/package.json
  DevSkim-VSCode-Plugin/devskim.ico
  DevSkim-VSCode-Plugin/package-lock.json
  DevSkim-VSCode-Plugin/package.json
  DevSkim-VSCode-Plugin/server/package-lock.json
  DevSkim-VSCode-Plugin/server/package.json
Labels: VSCode, bug

#113 Add Code Signing to Pipelines
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Labels: pipeline

#119 Pipeline Fixes for Deployment
  Pipelines/devskim-core.yml
  Pipelines/devskim-visualstudio.yml
  Pipelines/devskim-vscode.yml
Labels: pipeline

#125 Fix #123.
  DevSkim-DotNet/Microsoft.DevSkim/TextContainer.cs
Labels: Core, bug
